body {

    font-family: Arial, sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  h1 {

  text-align: left;
  margin: 0;
  color:white;
  }



  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    gap:20px;
    margin: 5px;
padding: 5px;

  }
  
input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
button {
  padding: 10px 20px;
  background-color: #0074cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056a3;
}


  label {
    font-weight: bold;
}

  ul {

    list-style-type: none;

    padding: 0;

  }

  li {
    text-decoration: none;
    margin-bottom: 5px;
   cursor: pointer;
   color: blue;

  }
  li:hover {

    text-decoration: underline;
    color: rgb(188, 17, 171);
  }
  
  .container {
   max-width: 1500px;
    margin: 20px;
    padding: 20px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:black;
}

  #current-image-container{

    padding: 20px 10px;
    background-color: black;
    color: white;
   width: fit-content; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:1px solid black;
    border-radius: 10px;
  }
  .mydiv{
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #h2{
    font-size: 30px;
    font-weight: bold;
    
  }

  #current-image-container h4{
    text-align: left;
    font-size: 25px;

  }

  #current-image-container img{
   width: 600px;
   height: 400px;

  }

  #current-image-container p{
    text-align:left;
    width: 600px;
    
  
  } 
h2{
  margin: 5px;
padding: 5px;
}
#search-history{
margin: 5px;
padding: 5px;


}





